#video_modal{
    max-width: 700px !important;
}
@minxin displayNone  {
    display: none;
}
#video{
    background: #333;
    overflow: hidden;
    height: 674px;
}
#myVideo {
    max-width: 300%;
    // max-height: 600px;
    z-index: -100;
    // position: fixed;
    // top: 0;
    margin: 0 auto;
    min-width: 100%; 
    min-height: 100%;
}
#myVideo-full{
    width: 100%;
}
#btn-full-video{
    button{
        position: absolute;
        z-index: 999;
        top: 300px;
        width: 100%;
    }
}
#exampleModalCenter{
    .modal-content{
        background-color: none !important;
        background-color: transparent !important;
        
    }
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

#logo{
    position: absolute;
    z-index: 999;
    margin: auto;
    position: absolute;
    top: 200px; left: 0; bottom: 0; right: 0;

margin-left: -100px
    span{
        left: 50%;
        margin-left: -100px

    }
}
#nav-BigScreen{
    ul{
        margin: auto;
        position: absolute;
        top: 10px; left: 0; bottom: 0; right: 0;
    }
}
#nav-responsive{

    display: none;
}


  #video_modal{
      max-width: 700px !important;
  }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }
@media (max-width: 991px) { 
    #nav-responsive{
        display: block;
    }
    #nav-BigScreen{
        display: none;
    }
   
 }
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }