@import 'fonts/stylesheet.css';
@mixin displayNone  { display: none; }
@mixin absoluteCenter   { margin: auto; position: absolute; top: 10px; left: 0; bottom: 0; right: 0;}
@mixin absoluteCenterGeneral   { margin: auto; position: absolute; left: 0; bottom: 0; right: 0;}
@mixin dropShadow { -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.31); -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.31); box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.31);}
@mixin btnBorderRadius {-webkit-border-radius: 30px; -moz-border-radius: 30px; border-radius: 30px;}
@mixin btnGeral { @include dropShadow; background-color: $verdeMedio; border: none; font-size: 1.6em; padding: 5px 35px; }
@mixin textShadow { text-shadow: 1px 1px 5px rgba(150, 150, 150, 1) }
@mixin opacity {  }
@mixin bgTransparent {background-color: rgba(48, 77, 169, 0.8); background: rgba(48, 77, 169, 0.8); color: rgba(48, 77, 169, 0.8);}

// Fonts
$fontNumber:         7em;
$fontNumberFamily:  'Poppins', Arial, verdana, sans-serif, normal;
$titFontFamyly:     'Bariol'; 
$titFontSize:        4.7em;
$fontBold:           700;
$lineHight:          32px;
$textSize:           21px;
$letterSpacing:      1.5px;

//Fonts 768px
$fontNumber768:         3em;
$fontNumberFamily768:  'Poppins', Arial, verdana, sans-serif, normal;
$titFontFamyly768:     'Bariol'; 
$titFontSize768:        3.8em;
$fontBold768:           700;
$ligghtWeight:          200;
$lightWeight2:          100;

// Paddings
$sectionPadd:           7.5em;
$sectionPadd900:        7.5em;
$sectionPadd767:        2.5em;

/////@at-root

// Colors
$white:               #fff;
$blue:                #052f9a;

$verde:               #bdd018;
$verdeEscuro:         #627568;
$verdeAzul:           #45568b;
$azul:                #3d41a0;

$azulEscuro:          #4461b8;
$azulEscuroHover:     #2c4694;
$verdeMedio:          #070707;
$verdeMedioHover:     #809933;

$verdePagSeguro:     #22ae30;

$azulTitulosH2:       #3d51a0;

$bordRadiusCard:       21px;              
// Transition
$transition02s:       0.3s;

$letter-spacing:      1.5px;

h2{ @include textShadow; }
header #dataEvt {  .date { position: absolute; top: 13px;  z-index: 100; font-family: 'Poppins', Arial, verdana, sans-serif, normal; font-weight: 100 !important; } @include absoluteCenter;  color: $white;  }
.modal #closeBot { color: $white; 
    .modal-content{
        border: 0 !important;
    }
    .modal-body{
        padding: 0 !important;
    }
}
.modal-content{
    border: 0 !important;
}
.modal-body{
    padding: 0 !important;
}
ul li, p{ line-height: $lineHight; font-size: $textSize; font-weight: $ligghtWeight; color: $white; letter-spacing: $letterSpacing; }
#video_modal{ max-width: 700px !important; }
#video{ background: #333; overflow: hidden; height: 674px; }
#filtroVideo { @include bgTransparent; position: absolute;   max-width: 300%;  margin: 0 auto; min-width: 100%; height: 675px; } 
#myVideo { max-width: 300%; z-index: -100; margin: 0 auto; min-width: 100%; min-height: 100%; }
#myVideo-full{ width: 100%; }
#btn-full-video{ button{ position: absolute; z-index: 999; top: 300px; width: 100%; } }
section#video #logo{ position: absolute; margin: auto; position: absolute; top:81px; left: 0; bottom: 0; right: 0; margin-left: -100px span{ left: 50%; margin-left: -100px } }
section#video #arrow-see-more { position: relative; top: 20px; font-size: 25px; transition-duration: 0.2s; border-radius: 1px; &:link { color: $white; } &:hover { position: relative; top: 30px; color: #999 !important; } z-index: 999; }
section#video {  #playBtn2 { @include btnBorderRadius; @include dropShadow; padding: 7px 30px; z-index: 14999; } }

#exampleModalCenter{ .modal-content{ background-color: none !important; background-color: transparent !important; } }

.navbar-nav { width: 100%; text-align: center; > li { float: none; display: inline-block; } }

header #nav-BigScreen{ ul{ margin: auto; position: absolute; top: 63px; left: 0; bottom: 0; right: 0; li{ z-index: 100;  height: 50px; } } }
header #nav-BigScreen ul li a,
header #nav-responsive ul li a  { color: #fff; font-family: $titFontFamyly; transition-duration: $transition02s; &:hover{  color: $verde; }  } 
header #nav-BigScreen ul li a i,
header #nav-responsive ul li a i {font-size: 16px; position: relative; top: -3px; } 

section#participe { background: url("../img/bg-timer.jpg") center bottom no-repeat; background-size: cover; }
section#participe{ h3 { font:900 $fontNumber $fontNumberFamily; } p { font: $fontNumberFamily !important; font-weight: $fontBold;  } h2{ font: $titFontSize $titFontFamyly; }}
section#participe .hexagonos { @include absoluteCenterGeneral;  }
section#participe #numbers { div:nth-child(1){ color: $verde; p{ color: $verde; } @include opacity } }
section#participe #numbers { div:nth-child(2){ color: $verdeEscuro; p{ color: $verdeEscuro } @include opacity } }
section#participe  #numbers { div:nth-child(3){ color: $verdeAzul; p{ color: $verdeAzul } @include opacity } }
section#participe  #numbers { div:nth-child(4){ color: $azul; p{ color: $azul } @include opacity } }
section#participe  { h2 { color: #3d51a0; } }

section#inscrevase { p.fichamedica { color: $verdeMedioHover; } p#pagSeguro { color: $verdePagSeguro; } h2{ font: $titFontSize $titFontFamyly; color: $azul; } p{ color: $azul; }  }
section#inscrevase { background: url("../img/bg-inscreva-se.jpg") center bottom no-repeat; background-size: cover; }
section#inscrevase #inscricaoBtn { @include btnBorderRadius;  @include btnGeral; transition-duration: 0.2s; background-color: $azulEscuro; &:hover { background-color: $azulEscuroHover; }  }
section#inscrevase #fichatecnicaBtn { @include btnBorderRadius;  @include btnGeral; transition-duration: 0.2s; background-color: $verdeMedioHover; &:hover { background-color: $verdeEscuro; }  }
section#inscrevase .pagSeguro { margin: 30px auto; }
section#inscrevase #pgtoBtn { @include btnBorderRadius;  @include btnGeral; transition-duration: 0.2s; background-color: $verdeMedioHover; &:hover { background-color: $verdeEscuro; }  }
section#inscrevase .card { border-radius: $bordRadiusCard; background-image: url("../img/bg-decarona.png"); overflow: hidden; border: 3px solid #d9ccc1; }
section#inscrevase .card-title {  background-image: url("../img/bg-decarona.png"); margin-bottom: 0; padding: 15px; color: #f0da11; font-style: italic; letter-spacing: $letter-spacing; }
section#inscrevase  .card-body { padding: 0 0 0 0; background-color: #eeefef; }
section#enxoval { border-bottom: 10px solid #5f5d6f;    background: url("../img/bg-enxoval.jpg") center bottom no-repeat; background-size: cover; color: $white; }
section#enxoval { h2{ font: $titFontSize $titFontFamyly; } ul li { list-style: none; font-size: 16px; } ul { padding-left: 0;  } }
section#enxoval  .card-body { padding: 0 0 0 0;  }
section#enxoval .card { border-radius: $bordRadiusCard; overflow: hidden; border: 3px solid #eeefef; }
section#enxoval #figurino-btn { @include btnBorderRadius; background-color: $azulEscuro; transition-duration: 0.2s; &:hover { background-color: $azulEscuroHover; } }
section#sobrenos { background: url("../img/bg-sobre-nos.jpg") center bottom no-repeat; background-size: cover; }
section#sobrenos { h2{ font: $titFontSize $titFontFamyly; color: $white;} }

section#video #divplay { z-index: 11000 !important; #playBtn2 { z-index: 3000; } }
section#video {  overflow: hidden !important; }
section#caronas { height: 400px; h2 { color: $azulTitulosH2;  } p { color: $azulTitulosH2; } }
section#contato { background-color: #3e51a0; }
  #nav-responsive{ display: none; z-index: 1000; }
  #video_modal{ max-width: 1100px !important; }

  section#caronas { h2{ font: $titFontSize $titFontFamyly; }   }
 


  section#caronas { background: url("../img/bg-decarona.jpg") center bottom no-repeat; background-size: cover; }
// Small devices (landscape phones, 576px and up)


section#participe .hexagonos-resp { display: none;  }
section#contato { #whatspp{ @include btnBorderRadius; } ul.nav li { float: left; display: inline; margin-right: 20px; } ul.nav li:nth-child(3){ padding-left: 20px; padding-top: 6px !important; } }
section#contato { #whatspp-elo{ @include btnBorderRadius; } ul.nav li { float: left; display: inline; } }


@media (min-width: 576px) { 

 
}
@media (max-width: 575px) { 
    section#participe .hexagonos { display: none;  }
    section#participe .hexagonos-resp { display: block; @include absoluteCenterGeneral; top: -101px; z-index: +1; }
    // section#sobrenos .desenho-coordenadores { display: block; }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  

}
@media (max-width: 767px) { 
    #filtroVideo {  display: none; }
    section#participe .hexagonos { top: -70px !important; }
    section#participe{ h3 { font:900 $fontNumber768 $fontNumberFamily768; } p { font: $fontNumberFamily768 !important; font-weight: $fontBold;  } h2{ font: $titFontSize $titFontFamyly768; }}
     #myVideo{ display: none; }
     #video {  height: 550px; background-color: $blue; background: url("../img/bg-resp.jpg"); background-position: center top; }
     section#participe .hexagonos { top: -10px;  }
     .ico { display: none; }
     #numbers { text-align: left; p { font-size: 15px;  position: relative; top: -18px; } }
   
     section#participe, section#sobrenos, section#enxoval, section#caronas, section#contato, section#inscrevase { padding: $sectionPadd767 0 !important; }
     section#participe #numbers div:nth-child(4) { left: 0 !important; }
     section#participe{ h2 { font-size: $titFontSize768 !important; } }
     section#inscrevase { h2 { font-size: $titFontSize768 !important; }  }
     section#caronas { h2 { font-size: $titFontSize768 !important; color: $azulTitulosH2 } p { color: $azulTitulosH2 }   }
     section#inscrevase { h2 { font-size: $titFontSize768 !important; } }
     section#enxoval { h2 { font-size: $titFontSize768 !important; } }
     section#sobrenos {h2 { font-size: $titFontSize768 !important; }
     section#sobrenos .desenho-coordenadores { display: block; }

    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
section#participe { #numbers { div:nth-child(2){ padding-left: 45px !important; } div:nth-child(4){ position: relative; left: -10px;  } } }    
section#participe, section#sobrenos, section#enxoval, section#caronas, section#contato, section#inscrevase { padding: $sectionPadd900 0; }
section#sobrenos .desenho-coordenadores { display: none; }
}
@media (max-width: 991px) { 
    #nav-responsive{ display: block; }
    #nav-BigScreen{ display: none; }
    section#participe .hexagonos { top: -210px;  }
    section#participe { #horas{ position: relative; left: 3%;} }
    section#participe { #numbers { div:nth-child(4){ position: relative; left: -10px;  } } }
    section#participe, section#sobrenos, section#enxoval, section#caronas, section#contato, section#inscrevase { padding: $sectionPadd900 0; }
    section#sobrenos { background: url("../img/bg-sobre-nos-767.jpg") center bottom no-repeat; background-size: cover; }
    section#inscrevase { background: url("../img/bg-inscreva-se-767.jpg") center bottom no-repeat; background-size: cover; }

}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    section#sobrenos .desenho-coordenadores { display: none; }
    section#participe,
    section#sobrenos,
    section#enxoval,
    section#contato,
    section#inscrevase {
        padding: $sectionPadd;
    }
    section#caronas{
        padding: 0 $sectionPadd;
    }

    section#participe {
        #numbers {
            div:nth-child(2) {
                padding-left: 45px !important;
            }

            div:nth-child(4) {
                position: relative;
                left: -10px;

            }
        }
    }

    section#participe .hexagonos {
        top: -210px;
    }
}

* { 
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	transition: all .1s ease; 
}

html, body {
		height: 100%;
}

h1 { font-size: 64px; }

.page-section {
		height: 480px;
		width: 50%;
		margin-left: 35%;
		margin-top: 5%;
		padding: 3em;
    background: linear-gradient(45deg, #43cea2 10%, #185a9d 90%);
		color: white;
		box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.5);
}

.navigation {
  	position: fixed; 
		width: 30%;
		margin-left: 2%;
  	background-color: #999;
  	color: #fff;
	
  	&__link {
			display: block;
    	color: #ddd; 
    	text-decoration: none;
    	padding: 1em;
			font-weight: 400;
			
			&:hover {
				background-color: #aaa;
			}
		
		   &.active {
		   	color: white;
				 background-color: rgba(0,0,0,0.1);
		   }
  	}
}